.Feature-menu {
    width: 150px;
    height: 100px;
    overflow-y: auto;
}

.Feature-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.Feature-menu a:hover {
    background-color: #e0a1e0;
}

.Feature-menu a.active {
    background-color: #4e004e;
    color: white;
}
div.Feature-menu{
    position: fixed;
    top: 200px;
    left: 400px;
}
.Algo-menu {
    width: 150px;
    height: 100px;
    overflow-y: auto;
}

.Algo-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.Algo-menu a:hover {
    background-color: #e0a1e0;
}

.Algo-menu a.active {
    background-color: #4e004e;
    color: white;
}
body, html {
    height: 100%;
    margin: 0;
}
div.relative {
    position: fixed;
    right:0px;
    height: 400px;
    width: 600px;
    border:3px solid #4e004e;
}
div.Algo-menu{
    position: fixed;
    top: 0px;
    left: 400px;
}
.bg {
    background-image: url("new.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
