<!DOCTYPE html>
<html lang="en">
<head>
    <script
            src="https://www.gstatic.com/charts/loader.js">
    </script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="fileCSS.css">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="bg">
    <form action="/search" method="post" enctype="multipart/form-data" name="searchForm" target="result"></form>
    <table>
        <tr>
            <td><input type="submit"></td>
        </tr>
        <tr>
            <td>browse file1:</td>
            <td><input type="file" name="text_file"></td>
        </tr>
        <tr>
            <td>browse file2:</td>
            <td><input type="file" name="text_file"></td>
        </tr>
    </table>

    <div class="Algo-menu">
        <a href="#" class="active">Algo-Menu</a>
        <a href="linear-reg">Linear reg</a>
        <a href="hybrid-algorithm">Hybrid algorithm</a>
    </div>
    <div id="myChart" style="width:100%; max-width:600px; height:500px;"></div>
    <script>
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
// Set Data
            var data = google.visualization.arrayToDataTable([
                ['Price', 'Size'],
                [50, 7], [60, 8], [70, 8], [80, 9], [90, 9],
                [100, 9], [110, 10], [120, 11],
                [130, 14], [140, 14], [150, 15]
            ]);
// Set Options
            var options = {
                title: 'House Prices vs. Size',
                hAxis: {title: 'Square Meters'},
                vAxis: {title: 'Price in Millions'},
            };
// Draw
            var chart = new google.visualization.LineChart(document.getElementById('myChart'));
            chart.draw(data, options);
        }
    </script>
</div>
</body>
</html>