<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Load plotly.js into the DOM -->
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="fileCSS.css">
    <title>Anomaly Detection Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/mathjs@9.4.0/lib/browser/math.js"></script>
    <script src="https://cdn.plot.ly/plotly-1.35.2.min.js"></script>
    <style>
        #more {display: none;}
    </style>
</head>
<body>



<div class="bg">

<div id="plot"></div>


<div class="relative" id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
<!--not sure we need the next line -->
<form method="post" action="/upload" enctype="multipart/form-data" onsubmit="return submitForm(this);" >
    <table>
        <tr>
            <td class="tdClass">browse train file:</td>
            <td><input type="file" name="text_train" accept=".csv"></td>
        </tr>
        <tr>
            <td class="tdClass">browse detect file:</td>
            <td><input type="file" name="text_detect" accept=".csv"></td>
        </tr>
    </table>
    <br>
    <td><input type="submit" value="Submit"></td>
</form>
<br>

    <div id="Algo-menu" class="Algo-menu" style="display: none">
        <a href="#" class="active">Algo-Menu</a>
        <a id="LinearReg"
           onclick="setIsLinear(1);generateFeatures(); disableAlgoMenu(); choseAlgo('Linear reg was chosen. Please choose an option:');sendAlgo('LinearReg')">Linear
            reg</a>
        <a id="HybridAlgorithm"
           onclick="setIsLinear(0);generateFeatures(); disableAlgoMenu(); choseAlgo('Hybrid algorithm was chosen.  Please choose an option:');sendAlgo('Hybrid')">Hybrid
            algorithm</a>
    </div>
    <div class="Container" id="container">
        <label id="algoNameLabel" class="labels"></label>
        <select id="select" onchange="resultOfSelectedFeature()"></select>
        <label id="labelselected" class="labels"></label>
<!--        <p><span id="more"></span></p>-->
<!--        <button onclick="openTextFunc()" id="myBtn">Open anomalies list</button>-->
    </div>
    <br>
</div>
<script>

    // maoz part - dont touch
    function submitForm(oFormElement)
    {
        var xhr = new XMLHttpRequest();
        xhr.open(oFormElement.method, oFormElement.getAttribute("action"));


        xhr.onload = function () {
            if (this.readyState === 4 && this.status === 200) {
                showAlgoMenu();
                cleanFeatureList();
            }
        };


        xhr.send(new FormData(oFormElement));
        return false;
    }




    // ofir part
    // please organize/simplify i can't read that
    var isLinear = 0;

    function sendAlgo(algoName) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/detect", true);
        xhttp.send(algoName)
    }

    function cleanFeatureList() {
        document.getElementById("select").options.length = 0;
    }

    function setIsLinear(value) {
        if (value == 0) {
            isLinear = 0;
        } else
            isLinear = 1;
    }

    function resultOfSelectedFeature() {
        var feature = document.getElementById("select").value;
        //document.getElementById("labelselected").innerHTML = "You selected: " + feature;
        if (isLinear == 0) {
            resultHybrid(feature);
        } else {
            resultLinear(feature);
        }
    }

    function resultLinear(feature) {
        var trace1;
        var traceInit;
        var layout;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = async function () {
            if (this.readyState === 4 && this.status === 200) {
                layout = {
                    title: 'Linear Reg Algorithm'
                };
                var xArray = [];
                var yArray = [];
                var timeStepArray = [];
                const dataFromServer = JSON.parse(this.response);
                for (let i = 0; i < dataFromServer.length; i++) {
                    if (dataFromServer[i].description === feature) {
                        timeStepArray.push(dataFromServer[i].timeStep);
                        xArray.push(dataFromServer[i].Point.x);
                        yArray.push(dataFromServer[i].Point.y);
                    }
                }

                trace1 = {
                    x: xArray,
                    y: yArray,
                    mode: 'markers'
                };
                myFunction(timeStepArray, xArray, yArray);
            }
        };
        xhttp.open("POST", "/detect/linear", true);
        xhttp.send()
        var xhttp2 = new XMLHttpRequest();
        xhttp2.onreadystatechange = async function () {
            if (this.readyState === 4 && this.status === 200) {
                try {
                    const expr = math.compile(this.response)
                    //instead of the numbers need to put minimum value and maximum
                    const xValues = math.range(0, 10, 0.5).toArray()
                    const yValues = xValues.map(function (x) {
                        return expr.evaluate({x: x})
                    })
                    traceInit = {
                        x: xValues,
                        y: yValues,
                        type: 'scatter'
                    }
                    var data = [trace1, traceInit];
                    Plotly.newPlot('myDiv', data, layout)

                } catch (err) {
                    console.error(err)
                    alert(err)
                }
            }
        };


        xhttp2.open("POST", "/init/linear", true);
        xhttp2.send()
    }

    // points of anomalies in Hybrid
    function resultHybrid(feature) {
        var trace1;
        var traceInit;
        var layout;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = async function () {
            if (this.readyState === 4 && this.status === 200) {
                layout = {
                    title: 'Hybrid Algorithm'
                };
                var xArray = [];
                var yArray = [];
                const dataFromServer = JSON.parse(this.response);
                for (let i = 0; i < dataFromServer.length; i++) {
                    if (dataFromServer[i].description === feature) {
                        xArray.push(dataFromServer[i].Point.x);
                        yArray.push(dataFromServer[i].Point.y);
                    }
                }
                trace1 = {
                    x: xArray,
                    y: yArray,
                    mode: 'markers'
                };

            }
        };
        xhttp.open("POST", "/detect/hybrid", true);
        xhttp.send()
        var xhttp2 = new XMLHttpRequest();
        xhttp2.onreadystatechange = async function () {
            if (this.readyState === 4 && this.status === 200) {
                try {
                    const expr = math.compile(this.response)
                    //instead of the numbers need to put minimum value and maximum
                    const xValues = math.range(0, 100, 0.5).toArray()
                    const yValues = xValues.map(function (x) {
                        return expr.evaluate({x: x})
                    })
                    traceInit = {
                        x: xValues,
                        y: yValues,
                        type: 'scatter'
                    }
                    var data = [trace1, traceInit];
                    Plotly.newPlot('myDiv', data, layout)
                } catch (err) {
                    console.error(err)
                    alert(err)
                }
            }
        };
        xhttp2.open("POST", "/init/hybrid", true);
        xhttp2.send()
    }

    function disableAlgoMenu() {
        // disappear the algo menu after choosing algo
        var x = document.getElementById("Algo-menu");
        x.style.display = "none"; // if want to return the menu instead of none write "block"
    }

    function choseAlgo(algoName) {
        // printing the chosen algo into a label
        document.getElementById("algoNameLabel").innerHTML = algoName;
    }

    function showAlgoMenu() {
        var x = document.getElementById("Algo-menu");
        x.style.display = "block"; // if want to return the menu instead of none write "block"
    }

    function generateFeatures() {
        //document.getElementsByClassName('LinearReg').disabled = "disabled";
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = async function () {
            if (this.readyState === 4 && this.status === 200) {
                // array of features sent from the server
                var values = JSON.parse(this.response);
                for (const val of values) {
                    var option = document.createElement("option");
                    option.id = val;
                    option.value = val;
                    option.text = val;
                    document.getElementById("select").appendChild(option);
                }
                document.getElementById("container").appendChild(document.getElementById("select"));

            }
        };
        xhttp.open("POST", "/features", true);
        xhttp.send()
    }
</script>

<p id="demo"></p>
<script>
    function myFunction(timeStepArray, xArray, yArray) {
        var text, i;

        text = "<ul>";
        for (i = 0; i < timeStepArray.length; i++) {
            text += "<li>" + "timeStep: " + timeStepArray[i] + ", (" + xArray[i] + "," + yArray[i] + ")" + "</li>";
        }
        text += "</ul>";

        document.getElementById("demo").innerHTML = text;
    }
</script>

<!--<script>-->
<!--    function openTextFunc() {-->
<!--        var dots = document.getElementById("dots");-->
<!--        var moreText = document.getElementById("more");-->
<!--        var btnText = document.getElementById("myBtn");-->

<!--        if (dots.style.display === "none") {-->
<!--            dots.style.display = "inline";-->
<!--            btnText.innerHTML = "Read more";-->
<!--            moreText.style.display = "none";-->
<!--        } else {-->
<!--            dots.style.display = "none";-->
<!--            btnText.innerHTML = "Read less";-->
<!--            moreText.style.display = "inline";-->
<!--        }-->
<!--    }-->
<!--</script>-->


</body>
</html>

